$gray: #edecf2;
$white: #ffffff;
$red: #df4747;
$green: #509e6f;

html, body {
  background-color: $gray;
  height: 100%;
  font-size: 20px;
  line-height: 1.8;
}

#app {
  height: 100%;
  // position: relative;
}

#container {
  position: fixed;
  right: 50%;
  bottom: 50%;
  max-height: calc(100%);
  transform: translate(50%,50%);
  overflow-y: auto;
  width: 1400px;
  height: 700px;
  background-color: $white;
  border-radius: 8px;
  padding: 0 0 5px 0;
  box-shadow: 0 0 5px darken($gray, 10%);
}

#question-navbar {
  background-color: lighten($gray, 2%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  height: 70px;
}

.btn {
  &:disabled{
    opacity: 0.2;
  }
}

.navbar-btn {
  font-size: 14px;
  min-width: 60px;
  margin: 5px;

  background-color: transparent;
  border: 2px solid;
  color: darken($gray, 50%);
  border-color: darken($gray, 50%);
  &:hover{
    background-color: darken($gray, 50%);
    color: $white;
  }
  &.solved {
    background-color: darken($gray, 50%);
    color: $white;
  }
}
